<!doctype html>
<html>
  <head><title>Timetable</title></head>
  <body>
    <h1>Timetable for {{ student_first_name }} {{ student_last_name }}</h1>

    <table border="1" cellpadding="6">
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Day</th>
        <th>Start</th>
        <th>End</th>
        <th>Building</th>
        <th>Room</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ item.type }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.weekday }}</td>
        <td>{{ item.start_time }}</td>
        <td>{{ item.end_time }}</td>
        <td>{{ item.building }} </td>
        <td>{{ item.room }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
