<!doctype html>
<html>
  <head><title>Timetable</title></head>
  <body>
    <h1>Timetable for {{ student_id }}</h1>

    <table border="1" cellpadding="6">
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Day</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>{{ item.kind }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.weekday_name }}</td>
        <td>{{ item.start }}</td>
        <td>{{ item.end }}</td>
        <td>{{ item.location }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
